.windowManager {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.windowManager__window {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


/* EMPTY WINDOW */

.emptyWindow {
    background: #f8f9fc;
    background: #e2e8f0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}