.header {
    width: 100%;
    height: 55px;
    background: var(--color_main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    flex-shrink: 0;
}

.header__content {
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__content:first-child {
    z-index: 3;
    width: auto;
    background: var(--color-main);
    border-right: 1px solid #ccc;
}


/* LOGO; 36px is temporary TODO: fix later*/

.logo {
    width: 36px;
    height: 36px;
    background: black;
}


/* ACTIVE PROJECT BTN */

.activeProject {
    display: flex;
    /* gap: 0.5rem; */
    align-items: center;
    justify-content: left;
    position: relative;
}

.activeProject__icon {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.activeProject__arrow {
    width: 20px;
    height: 20px;
}


/* TODO: this is not the 'right' way; fix later */

.activeProject__colorBg {
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 100%;
    bottom: -12px;
    filter: blur(15px);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.header__content__right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
}


/* SPACER */

.header__content__right>button:nth-of-type(3) {
    margin-right: 0.5rem;
}

.header__content__right>button:nth-of-type(4) {
    margin-left: 0.5rem;
}


/* TODO fix 36px */

.header__content__right .header__content__right__divider {
    display: block;
    width: 1px;
    height: 36px;
    background: #ccc;
}


/* SEARCH CONTAINER */

.header__content__right__searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__content__right__searchContainer input {
    border: none;
    outline: none;
    overflow: hidden;
    transition: 0.3s;
    width: 200px;
    height: 20px;
    padding: 0.5rem 0;
    background: #dbe2ec;
    position: relative;
    right: -10px;
    z-index: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    white-space: nowrap;
}