.sidebar {
    background: var(--color-main);
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
}


/* PRIMARY SIDEBAR */

.sidebar__primary {
    height: 100%;
    width: auto;
    background: var(--color-main);
    border-right: 1px solid #ccc;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-sizing: border-box;
}


/* SECONDARY SIDEBAR */

.sidebar__secondary {
    height: 100%;
    width: 100%;
    background: var(--color-main);
    padding: 0.5rem;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
}

.sidebar__border {
    width: 3px;
    height: 100%;
    background: transparent;
    cursor: ew-resize;
    position: absolute;
    right: 0;
}