.btn {
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 1;
}

.btn:hover {
    background-color: #dbe2ec;
}


/* TRANSPARENT BTN */

.btn--transparent {
    background-color: transparent;
}

.btn--transparent:hover {
    backdrop-filter: blur(10px) brightness(0.85);
    -webkit-backdrop-filter: blur(10px) brightness(0.85);
}


/* ICON BTN */

.btn--icon {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
}

.btn--icon>img {
    width: 20px;
    height: 20px;
}


/* VARIANTS */

.btn--reverseIconColor img {
    filter: invert(1);
}

.btn--active {
    background: var(--color-active);
}

.btn--userAvatarBtn {
    padding: 0;
}

.btn--userAvatarBtn>img {
    width: calc(20px + 1rem);
    height: calc(20px + 1rem);
    border-radius: 0.5rem;
}

.btn--projectFiles__folder img {
    width: 16px;
    height: 16px;
}

.btn--fileManager__close img {
    width: 10px;
    height: 10px;
}

.icon {
    width: 20px;
    height: 20px;
}