* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Georgia", sans-serif;
}


/* light theme */

:root {
    --color-main: #fff;
    --color-secondary: #f9f9f9;
    --color-text: #000;
    --color-active: rgb(8, 143, 143);
    --color-active: #0ff4c6;
}


/* TODO make dark theme */


/* dark theme */


/* @media (prefers-color-scheme: dark) {
  :root {
    --color-main: #333;
    --color-text: #fff;
  }
} */

body {
    background: var(--color-main);
    color: var(--color-text);
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}